.header{
    position: fixed;
    left: 0;
    right: 0;
    
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    backdrop-filter: blur(10px);
   


}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

}
.logo{
    img{
        width: 250px;
    }

}
.til{
    border: none;
    max-width: 50px;
    width: 100%;
    font-size: 20px;
    
  
}
.til option{
    font-size: 24px;
}

