.reg__header{
    position: fixed;
    left: 0;
    right: 0;
   
    top: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    backdrop-filter: blur(10px);
}
#formm{
    margin-top: 90px;
}





@media (max-width: 769px) {
  #formm {
    background: #f9f9f9;
    margin-top: 43px;
  }

   #dov {
  padding: 2.5rem;

    

  }

  /* 🔽 H2 ni kichraytirish va pastga tushirish */
  #formm h2 {
    font-size: 20px;     /* oldin 24px (text-2xl) edi */
    line-height: 1.3;
  }

  #formm .text-center {
    margin-top: 10px;   /* headerga yopishmasin */
    margin-bottom: 24px;
  }
}
@media(max-width:413px){
  #dov{
            padding: 1.5rem;
  }
}

@media(max-width:398px){
  .text-sm{
    font-size: 12px;
  }
  #formm h2{
    font-size: 18px;
  }
}
@media(max-width:351px){
#formm{
  margin-top: 81px;
}
}
