.load {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: blue;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }
      
.test__page {
    position: relative;
    margin-top: 50px;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

.timer__ab {
    background-color: #1D0F91;
    color: white;
    max-width: 90px;
    padding: 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.test__test {
    padding: 20px 10px 10px 10px;
    background-color: #4a7dff11;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: visible
}

.test__test h4 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.media__test {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;

    width: 100%;
    margin: 0 auto;



    margin-bottom: 20px;

}

.varyant {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.varyant label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    width: 100%;
    background-color: white;

    border-radius: 5px;
    margin-bottom: 5px;
}

.varyant label:hover {

    background: linear-gradient(to right, #1D0F91, #4A7CFF);
    border: none;

}

.varyant label:active {

    background: linear-gradient(to right, #1D0F91, #4A7CFF);
    border: none;

}

.varyant li {
    list-style: none;
    margin-bottom: 5px;
}

.end__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

    gap: 10px;
    margin-bottom: 20px;


}

.end__btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 26px;
    background-color: transparent;
    border: 1px solid darkblue;
    transition: 300ms;
    color: darkblue;
}

.end__btn:active {

    background-color: darkblue;

    transition: 300ms;
    color: white;
}

.end__res {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 26px;
    background-color: transparent;
    border: 1px solid darkgreen;
    transition: 300ms;
    color: darkgreen;
}

.end__res:active {

    background-color: darkgreen;

    transition: 300ms;
    color: white;
}


.resault {
    display: none;
    transition: 500ms;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: white;
    padding-top: 50px;

}

.resault h4 {
    display: flex;
    align-items: center;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 26px;


}

.res__wrapper img {
    max-width: 200px;
    width: 100%;

}

.res__wrapper {
    max-width: 720px;
    width: 90%;
    margin: 0 auto;

}

.res__wrapper h2 {
    display: block;
    margin-bottom: 10px;

}

.resault__open {
    display: block;
    transition: 500ms;
}

.resault button {
    padding: 10px 15px;
    font-size: 21px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    color: white;
    background: linear-gradient(to right, #1D0F91, #4A7CFF);
    margin-top: 50px;
}

.resault button:nth-of-type(2) {
    margin-top: 20px;
}

.test__test h4 span {
    background-color: #1D0F91;
    color: white;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fixed-timer {
    position: fixed;
    background-color: #1D0F91;
    color: white;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 9999;
    top: 40px;
}

.none {
    display: none;
}


.min__height{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 1500px;
    height: 100%;
  
}
.relaut{
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
}
.animation__none{
    display: none;
}